$corPrincipal:#c4c4c1;
$corSecundaria:#5c5e36;
$corButao:#0c181c;
$corTextPrincipal:#f0e3e8;
$corTextSelection:#ff0000;

//imagens do site

$imagenprimeira:url("../../build/images/wall\ \(1\).jpg");
$imagenSegunda:url("../../build/images/wall\ \(2\).jpg");
$imagemProxima: url("../../build/images/wall\ \(3\).jpg");
$imagenProximaSe:url("../../build/images/wall\ \(4\).jpg");
$imagenPonte:url("../../build/images/wall\ \(5\).jpg");
$imagenbiblioteca:url("../../build/images/wall\ \(6\).jpg");
$imagenNext:url("../../build/images/wall\ \(7\).jpg");
$imagenNextTwo:url("../../build/images/wall\ \(8\).jpg")
